{%extends 'base.html'%} {% block marks%} {%for subject in subjects%}
<h1>Choose Subject to see grades</h1>
<a href="{% url 'marks_view_subject' subject.id %}">
  <button>Check {{subject.sub_name}}</button>
</a>
{%endfor%}
<div>
  {%if subject%}
  <table style="margin-top: 0px">
    <thead>
      <tr>
        <th>Student</th>
        <th>Subject</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for mark in marks %}
      <tr>
        <td>{{mark.student}}</td>
        <td>{{mark.subject}}</td>
        <td>{{mark.studentgrade}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  {% comment %}
  <h1>ADD NEW</h1>
  <div>
    <form method="POST" action="{% url 'marks_view_subject' subject.id%} ">
      {% csrf_token %} {{ form.as_p}}
      <button type="submit">Submit</button>
    </form>
  </div>
  {% endcomment %}
</div>
{%endif%} {%endblock%}
