{% extends 'base.html' %} {% block student %}
<section style= "margin-top:80px;">
<h1>Students</h1>
<table>
    <thead>
      <tr>       
        <th>Name</th>
        <th>Grade</th>
        <th>Enrolled Class</th>
       <th>Image</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students%}
        <tr>
           <td>{{student.s_name}}</td> 
           <td>{{student.grade}}</td>
           <td>{{student.class_enrolled}}</td>
           <td>    {% if student.image %}
            <img src="{{ student.image.url }}" alt="Student Image" width="50" height="50">
        {% else %}
            <p>No img</p>
        {% endif %}</td>
           <td><a href ="/student_edit/{{student.id}}"> Edit </a></td>
           <td><a href ="/student/delete/{{student.id}}"> Delete </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%if edit_form%}
<h1>Edit</h1>
<div>
  <form method="POST" action="{% url 'student_edit' edit_instance.id %}"enctype ="multipart/form-data">
    {% csrf_token %}
    {{ edit_form.as_p}}
    <button type="submit">Submit</button>
  </form>
  </div>
{%else%} 
<div>
<h4>ADD </h4>

<form method="POST" action="{% url 'student_view' %}" enctype ="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p}}
  <button type="submit">Submit</button>
</form>
</div>
</section>
{%endif%}
{% endblock %}
