{%extends 'teacherbase.html'%} {%block teacher_grade%}
<h1>Grades in {{subject.sub_name}}</h1></br>

{%if subject%}
    <table style="margin-top: 0px">
        <thead>
            <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Grade</th>
            <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for mark in marks %}
                <tr>
                <td>{{mark.student}}</td>
                <td>{{mark.subject}}</td>
                <td>{{mark.studentgrade}}</td>
                <td> 
                    <form action="{% url 'teacher_grade_edit' mark.id %}" method = 'POST'>
                    {%csrf_token%}
                    <input type="text" name="studentgrade" placeholder="Grade" required>
                    <button>Save</button>
                  </form></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{%endif%}


<h1>ADD NEW</h1>
<div>
  <form method="POST" action="{% url 'teacher_grade' subject.id%} ">
    {% csrf_token %} 
    {{ form.as_p}}

    <button style= "width:80px;" type="submit">Submit</button>
  </form>
</div>

{%endblock%}


{% comment %} <form method="POST" action="{% url 'teacher_grade' subject.id%} ">
  {% csrf_token %}
  <input
    type="text"
    name="grade"
    placeholder="grade"
    value="{{ mark.studentgrade }}"
    required
  />
  <button type="submit">Update</button>
</form> {% endcomment %}